div {
    height: 50px;
    width: 300px;
    margin: 10px;
    padding: 10px;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

div.example1 {
    background-color: red;
}

div.example2 {
    background-color: blue;
}

div.example3 {
    background-color: purple;
}

div.example4 {
    background-color: green;
}

div.staticExample1, 
div.staticExample2, 
div.staticExample3, 
div.staticExample4 {
    position: static;
}

/* z-index = 1 */
div.relativeExample2 {
    position: relative;
    top: 50px;
    left: 150px;
    /* bottom, right */
}

div.relativeExample3 {
    position: relative;
    z-index: 2;
}

div.parentExample {
    position: relative;
    top: 1000px;
    left: 500px;
}

div.absoluteExample1 {
    position: absolute;
    top: 0;
    left: 0;
} 

div.fixedExample3 {
    position: fixed;
    top: 0;
    left: 0;
}

.main-container {
    height: 600px;
    width: 100%;
    background-color: rgb(224, 252, 65);
    padding: 10px;
    overflow: scroll;
    margin-bottom: 100px;
}

.main-container > * {
    margin: 10px;
}

.header-container {
    position: sticky;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    border: 2px solid red;
    background-color: gray;
}

.content-container {
    height: 1800px;
    width: 80%;
    border: 2px solid red;
    background-color: rgb(248, 130, 130);
}

.footer-container {
    height: 50px;
    width: 100%;
    border: 2px solid red;
    background-color: gray;
}