div {
    border: 1px solid red;
}

span {
    border: 1px solid green;
}

/* div {
    display: inline;
}

span {
    display: block;
} */

span {
    width: 100px;
    height: 100px;
}

/* div {
    width: 100px;
    height: 100px;
} */

div {
    display: inline-block;
    width: 100px;
    height: 500px;
}

span {
    display: inline-block;
    width: 100px;
    height: 500px;
}

img {
    width: 300px;
}

#myImage {
    display: none;
}

/* <td> */
#myDiv {
    height: 500px;
    width: 500px;
    display: table-cell;
    border: 1px solid red;
    vertical-align: middle;
}