/* .myButton:enabled */
.myButton {
    background-color: salmon;
    border: 1px solid red;
    border-radius: 5px;
    height: 25px;
    width: 100px;
}

.myButton:hover {
    cursor: pointer;
    background-color: red;
}

.myButton:active {
    cursor: progress;
    background-color: red;
    box-shadow: 5px;
}

.myButton:disabled {
    cursor: not-allowed;
    background-color: rgb(92, 90, 90);
    color: #ffffff;
}

.myButton:disabled:hover {
    cursor: not-allowed;
    background-color: rgb(177, 177, 177);
    color: #ffffff;
}

.myButton:focus {
    outline: 2px solid darkgreen;
    outline-offset: 4px;
}

input[type="checkbox"]:checked + label {
    color: red;
}

input[type="checkbox"]:indeterminate + label {
    color: purple;
}

input[type="text"]:required {
    border: 1px solid red;
}

input[type="text"]:optional {
    border: 1px solid red;
}

input[type="text"]:read-only {
    border: 1px solid red;
}

input[type="text"]:read-write {
    border: 1px solid red;
}

input[type="number"]:in-range {
    border: 1px solid green;
}

input[type="number"]:out-of-range {
    border: 1px solid red;
}

input[type="email"]:valid {
    border: 1px solid green;
}

input[type="email"]:invalid {
    border: 1px solid red;
}


.cssCounter {
    counter-reset: invalidInputs;
}

.cssCounter :invalid {
    border: 1px solid red;
    counter-increment: invalidInputs;
}

.myInvalidCount::after {
    content: "You have " counter(invalidInputs) " invalid entries";
}