header {
    background-color: aquamarine;
    color: rgb(29, 26, 7);
    font-size: 24px;
}

header > div {
    padding: 10px;
    margin: 5px;
}

header {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
}

header > div:nth-child(3) {
    grid-column: 10;
}

