div.example1::first-line {
    font-weight: bold;
    font-size: 30px;
}

div.example2::first-letter {
    font-weight: bold;
    font-size: 30px;
}

div.example1::selection {
    background-color:purple;
    color: white;
}

p.example3::before {
    content: 'This is CSS3 ';
    font-weight: bold;
}

p.example3::after {
    content: ' Course at Zensar!';
    font-weight: bold;
}

p.example3 {
    color: red;
}

/* Disabling Selection */
div.example4 {
    -webkit-tap-highlight-color: red;
    user-select: none;
    touch-action: none;
}


/* Style native browser elements */
::-webkit-scrollbar {
    background-color: orange;
}

::-webkit-scrollbar-thumb {
    background-color: royalblue
}

::-webkit-scrollbar-thumb:hover {
    background-color: orange;
}

::-webkit-scrollbar-track {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3) inset;
}

::-webkit-scrollbar:hover {
    background-color: royalblue;
}